@font-face {
    font-family: IRANSansfanum;
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/iransans-num-fa/eot/IRANSansWeb(FaNum).eot');
    src: url('../fonts/iransans-num-fa/eot/IRANSansWeb(FaNum).eot?#iefix') format('embedded-opentype'), /* IE6-8 */ url('../fonts/iransans-num-fa/woff2/IRANSansWeb(FaNum).woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/ url('../fonts/iransans-num-fa/woff/IRANSansWeb(FaNum).woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url('../fonts/iransans-num-fa/ttf/IRANSansWeb(FaNum).ttf') format('truetype');
}

@font-face {
    font-family: Rezvan;
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/rezvan/Rezvan.eot?#') format('eot'),
    url('../fonts/rezvan/Rezvan.ttf') format('truetype'),
    url('../fonts/rezvan/Rezvan.woff') format('woff');
}

@font-face {
    font-family: iranYekanWeb;
    src: url("../fonts/iranyekan/IRANYekanWeb.woff");
    src: url("../fonts/iranyekan/IRANYekanWeb.woff2");
}

@font-face {
    font-family: fontCambria;
    src: url("../fonts/cambria/Cambria.ttf");
}

@font-face {
    font-family: aviny;
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/aviny/aviny.ttf");
}

* {
    font-family: iranYekanWeb;
}

.font-family-iransans {
    font-family: IRANSansfanum !important;
}

.font-family-yekan {
    font-family: iranYekanWeb !important;
}

.font-family-rezvan {
    font-family: Rezvan !important;
}

.font-family-montserrat {
    font-family: Montserrat !important;
}

.font-family-aviny {
    font-family: aviny !important;
}

.font-family-cambria
{
    font-family: fontCambria !important;
}

.align-center {

    text-align: center !important;
}

.align-right {

    text-align: right !important;
}

.align-left {

    text-align: left !important;
}

.bg-white {
    background-color: #fff !important;
}

.bg-nima {
    background-color: #861BF8 !important;
}

.bg-yellow {
    background-color: #ffc722 !important;
}

.bg-black {
    background-color: #000 !important;
}

.bg-ctm-gray {
    background-color: #f3f3f3 !important;
}

.bg-orange {
    background-color: #fe5c24 !important;

}

.bg-transparent {
    background-color: transparent !important;
}

.border-radius-5 {

    border-radius: 5px;
}

.border-radius-10 {

    border-radius: 10px;
}

.border-radius-18 {

    border-radius: 18px;
}

.border-radius-22 {
    border-radius: 22px;
}

.border-none {

    border: none !important;
}

.border-t-r-18 {
    border-top-right-radius: 18px;
    border-bottom-right-radius: 18px;
}

.border-yellow {

    border-color: #ffc722 !important;
}


.text-yellow {

    color: #ffc220 !important;
}

.text-white-75 {

    color: #ffffffc7 !important;
}

.text-black {

    color: #000 !important;
}

.direction-rtl {

    direction: rtl !important;
}

.direction-ltr {

    direction: ltr !important;
}

.decoration-none {

    text-decoration: none !important;
}


.font-weight-bold {

    font-weight: 600 !important;
}


.font-size-11 {

    font-size: 11px !important;
}

.font-size-12 {

    font-size: 12px !important;
}

.font-size-13 {

    font-size: 13px !important;
}

.font-size-14 {

    font-size: 14px !important;
}

.font-size-15 {

    font-size: 15px !important;
}

.font-size-17 {

    font-size: 17px !important;
}

.font-size-18 {

    font-size: 18px !important;
}

.font-size-19 {

    font-size: 19px !important;
}

.font-size-20 {

    font-size: 20px !important;
}

.font-size-21 {

    font-size: 21px !important;
}

.font-size-22 {

    font-size: 22px !important;
}

.font-size-23 {

    font-size: 23px !important;
}

.font-size-25 {

    font-size: 25px !important;
}

.font-size-27 {

    font-size: 27px !important;
}
.font-size-29 {

    font-size: 29px !important;
}
.font-size-30 {

    font-size: 30px !important;
}
.font-size-31 {

    font-size: 31px !important;
}
.font-size-33 {

    font-size: 33px !important;
}
.font-size-2rem {

    font-size: 2rem;
}


.height-80 {

    height: 80px !important;
}

.height-135 {

    height: 135px !important;
}

.height-170 {

    height: 170px !important;
}

.height-290 {

    height: 290px !important;
}

.height-340 {

    height: 340px !important;
}

.height-400 {

    height: 400px !important;
}

.height-100-vh {

    height: 100vh !important;
}

.width-16 {
    width: 16rem !important;
}

.width-14 {
    width: 14rem !important;
}


.width-auto {
    width: auto !important;
}

.height-15width-15 {

    height: 15px;
    width: 15px;
}

.height-20width-20 {

    height: 20px;
    width: 20px;
}

.height32width32 {

    height: 32px !important;
    width: 32px !important;
}

.height-50width-50 {

    height: 50px;
    width: 50px;
}


.height-60width-40 {

    height: 60px;
    width: 40px;
}


.height-200width-250 {

    height: 200px !important;
    width: 250px !important;
}

.height-190width-100 {
    width: 100% !important;
    height: 190px !important;
}


.line-35 {

    line-height: 35px !important;
}


.line-45 {

    line-height: 45px !important;
}


.text-white-50 {
    color: rgba(255, 255, 255, .5);
}


.text-white-75 {
    color: rgba(255, 255, 255, .75);
}

.text-dark {

    color: #000;
}


.nt-25 {
    margin-top: -25px;
}

.mt-30 {

    margin-top: 30px !important;
}

.out-line-none {

    outline: none !important;
}

