.color-blog-main{
    color: #073461!important;
}

.bg-blog-main{
    background-color: #073461!important;
}

.color-blog-secondary{
    color: #ae8525!important;
}

.bg-blog-secondary{
    background-color: #ae8525!important;
}

.bg-black{
    background-color: #000!important;
}

.color-gray{
    color: #eaeaea!important;
}

.border-white{
    border: solid 1px #7776769c!important;
    border-radius: 3px;
    height: 43px;
    width: 43px;
    display: inherit;
    background-color: #222;
}

.border-bottom-main{
    border-bottom: solid 3px #073461;
}

.border-top-main{
    border-top: solid 3px #073461;
}

.border-top-secondary{
    border-top: solid 3px #ae8525;
}

.border-bottom-secondary{
    border-bottom: solid 3px #ae8525;
}

#blogNav {
    background-color: #000000;
    background-image: linear-gradient(147deg, #000000 0%, #252424 74%);
    border-bottom: 3px solid #ae8525;
}

.navbar-toggler {
    padding: .25rem .75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: #212529!important;
    border: 1px solid #e3ece500;
    border-radius: .25rem;
    color: #000;
}

.mainNav.open {
    right: 0;
}

.menu-blog{
    color: white!important;
}

.menu-blog:hover{
    color: #ae8525!important;
}

.icon-classic {
    position: relative;
    display: inline-block;
    width: 95px;
    height: 95px;
    border-radius: 50%;
    background: #A62626;
    color: white;
    top: 9px;
    text-align: end;
    font-size: 35px!important;
}

.blog-hover:hover .card-title {
    color: #c20000 !important;
}

.d-content{
    display: contents!important;
}

.blog-category-link {
    color: #fff!important;
    background-color: #ae8525;
    cursor: pointer!important;
    border-radius: 5px!important;
    text-decoration: none!important;
    padding-right: 6px!important;
    padding-left: 6px!important;
    padding-top: 1px!important;
    padding-bottom: 1px!important;
}

.blog-category-link:hover {
    background-color: #073461 !important;
}

.view-counter{
    position: absolute!important;
    left: 0!important;
    color: #fff;
    background-color: #ae8525;
    display: inline-block;
    min-width: 17px;
    padding:3px 5px 4px 4px;
}

.view-counter:after {
    position: absolute;
    bottom: -3px;
    left: 0;
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 3px 3px 0 0;
    border-color: #ae8525 transparent transparent;
}

.bg-transparent{
    background-color: transparent!important;
}

.border-18{
    border-radius: 18px!important;
}

.width-20{
    width: 20rem!important;
}

@media only screen and (max-width: 767px) {

    .mainNav {
        position: fixed;
        background: #000000f7;
        top: 0;
        right: -100%;
        z-index: 100;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: start;
        -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        -webkit-box-align: start;
        -webkit-align-items: flex-start;
        -ms-flex-align: start;
        align-items: flex-start;
        padding: 23px;
        width: 100%;
        height: 100%;
        overflow-x: hidden;
        overflow-y: auto;
        transition: all ease-in-out 0.3s;
        -moz-transition: all ease-in-out 0.3s;
        -webkit-transition: all ease-in-out 0.3s;
        -o-transition: all ease-in-out 0.3s;
    }

    .mainNav ul {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        margin-bottom: 10px;
    }

    .mainNav ul li {
        margin: 0 0 10px;
        text-align: right;
        border-bottom: 1px solid rgba(170, 170, 170, 0.18);
        padding-bottom: 10px;
    }

    .mainNav ul li a {
        display: block;
    }

}

@media screen and (min-width: 600px){
    .article-img{
        height: 400px!important;
        box-shadow: 2px 3px 5px #717171;
    }
}

@media screen and (max-width: 600px){
    .article-img{
        height: 200px!important;
        box-shadow: 2px 3px 5px #717171;
    }
}

.search_form{
    position:absolute!important;
    margin-top: 5px!important;;
    box-shadow: 1px 1px 5px #000000a3;
    z-index: 50;
}

.card-img-blog {
    box-shadow: 1px 1px 5px #b7b4b4!important;
    height: 195px!important;
    border-radius: 5px!important;
}
