.main-bg-gradient
{
    background-color: #000000;
    background-image: linear-gradient(147deg, #000000 0%, #252424 74%);
}
.text-gold-grade
{
    background: -webkit-linear-gradient( left, #ae8525 0%, #f7f08a 30%, #d2ad47 64%, #edc967 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.text-red{
    color: #a52a2a!important;
}
.text-black{
    color: #000!important;
}
.bg-red{
    background-color: #a52a2a!important;
}
.bg-blue{
    background-color: #073461!important;
}

.text-blue{
    color: #073461!important;
}
.color-main-gray{
    color: #d0cccc!important;
}
.icon-color-footer{
    color: #01bab5!important;
}
.bg-light-blue {
    background-color: #5fa5ef47;
}
.bg-light-purple {
    background-color: #f5d7fa;
}
.bg-light-green {
    background-color: #d0e8f1;
}
.bg-light-orange {
    background-color: #faebd7;
}
.bg-copy-write {
    background-color: #04013a!important;
}
.red-hover:hover{
    color: #a52a2a!important;
}
.width-14{
    width: 14rem!important;
}

.width-16{
    width: 16rem!important;
}
/*/
color-main*/
/*custom-style*/
.height-65width-100 {
    height: 65px!important;
    width: 100px!important;
}
.page-section {
    padding: 2rem 0!important;
}
.mainBtn {
    padding: 9px 20px;
    -webkit-border-radius: 11px;
    border-radius: 11px;
    text-align: center;
    min-width: 180px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    border: solid 1px #ea6b10;
}
.mainBtn:hover{
    background-color: #ea6b10!important;
    color: #fff!important;
}
.mainBtn:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    background: #fff;
    opacity: 0.3;
    -webkit-border-radius: 11px;
    border-radius: 11px;
    transition: all ease-in-out 0.4s;
    -moz-transition: all ease-in-out 0.4s;
    -webkit-transition: all ease-in-out 0.4s;
    -o-transition: all ease-in-out 0.4s;
}
.mainBtn:hover::before {
    width: 100%;
}
.btn-gold{
    background: #ae8525;
    background: -moz-linear-gradient(left, #ae8525 0%, #f7f08a 30%, #d2ad47 64%, #edc967 100%);
    background: -webkit-linear-gradient(left, #ae8525 0%, #f7f08a 30%, #d2ad47 64%, #edc967 100%);
    background: -o-linear-gradient(left, #ae8525 0%, #f7f08a 30%, #d2ad47 64%, #edc967 100%);
    background: -ms-linear-gradient(left, #ae8525 0%, #f7f08a 30%, #d2ad47 64%, #edc967 100%);
    background: linear-gradient(to right, #ae8525 0%, #f7f08a 30%, #d2ad47 64%, #edc967 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ae8525', endColorstr='#edc967', GradientType=1);
    color: black!important;
    border: none!important;
}
.height-200{
    height: 200px!important;
}
.height-300{
    height: 300px!important;
}
/*custom-style*/
header.masthead {
    padding-top: 10rem;
    padding-bottom: calc(10rem - 72px);
    background: -webkit-gradient(linear,left top,left bottom,from(#101010),to(#424b715e)),url(../app/img/hero.jpg);
    background: linear-gradient(to bottom,#101010 0,#424b715e 100%),url(../app/img/hero.jpg);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center!important;
    background-size: cover;
    height: 450px!important;
}
.masthead-first-txt{
    margin-top: -143px!important;
    font-size: 20px;
    color: #1EBB11!important;
}
.masthead-second-txt{
    font-size: 2.3rem;
    font-family: aviny!important;
    color: #fff;
}
.nt-80{
    margin-top: -80px!important;
}
/******************* /masthead-style ********************************/
/*NavBar*/
.navbar{
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.1);
    z-index: 3!important;
}
.bg-search{
    background: linear-gradient(to right, #bae0ff,#d2d2d2)!important;
}
.color-cart {
    color: #616161!important;
}
.search-box{
    border-top-right-radius: 5px!important;
    border-bottom-right-radius: 5px!important;
    outline: none!important;
}
.navbar-toggler {
    padding: .25rem .75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: #b1b1b1b5!important;
    border: 1px solid #e3ece500;
    border-radius: .25rem;
}
.nav-link{
    color: #000!important;
    font-size: 13px;
}
.navbar-light .navbar-nav .nav-link:hover {
    color:#073461!important;
}
/*SERVICE*/
.icon-service {
    position: relative;
    display: inline-block;
    width: 80px;
    height: 80px;
    border-radius: 50%;
}
.bg-bt-gold {
    background: #ae8525;
    background: -moz-linear-gradient(left, #ae8525 0%, #f7f08a 30%, #d2ad47 64%, #edc967 100%);
    background: -webkit-linear-gradient(left, #ae8525 0%, #f7f08a 30%, #d2ad47 64%, #edc967 100%);
    background: -o-linear-gradient(left, #ae8525 0%, #f7f08a 30%, #d2ad47 64%, #edc967 100%);
    background: -ms-linear-gradient(left, #ae8525 0%, #f7f08a 30%, #d2ad47 64%, #edc967 100%);
    background: linear-gradient(to right, #ae8525 0%, #f7f08a 30%, #d2ad47 64%, #edc967 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ae8525', endColorstr='#edc967', GradientType=1);
}
.height60width49 {
    height: 60px;
    width: 49px;
}
/*Multi-Slider*/
figure {
    margin: 0 0 1rem;
}
img {
    vertical-align: middle;
    border-style: none;
}
.multi-slider .carousel .item figure {
    overflow: hidden;
    position: relative;
    height: 180px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    margin-bottom: 20px;
}
.multi-slider .carousel .item figure img {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    max-width: 150%;
}
.multi-slider .carousel .item .title {
    color: #060606;
    font-family: iranYekanWeb!important;
    font-size: 15px!important;
}
.multi-slider .carousel .item .desc {
    margin-top: 25px;
    margin-bottom: 35px;
    font-family: iranYekanWeb!important;
    font-size: 13px!important;
    color: #4F5362;
    text-decoration: none!important;
}
.multi-slider .carousel .item .date {
    text-align: left;
    text-transform: uppercase;
    color: #4F5362;
    letter-spacing: 1.2px;
    direction: ltr;
    font-family:IRANSansfanum!important;
;
}
/* multi-slider SLIDER */
hr.divider {
    max-width: 3.25rem;
    border-width: .2rem;
    border-color: #ae8525 !important;
}
.item-style{
    background-color: #fff;
    -webkit-box-shadow: 0 2px 4px 0 rgba(0,0,0,.1);
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.1);
    border-radius: 8px;
}
/*Why-Us-Section*/
.why-us-txt{
    border-bottom-right-radius: 18px;
    border-bottom-left-radius: 18px;
    width: 16rem;
    color: #000;
}
.why-us-img{
    border-top-right-radius: 18px;
    border-top-left-radius: 18px;
}
/*Nima-Style*/
.action-bar-container {
    overflow: hidden;
    height: 3.3125rem;
}
.action-bar{
    display: flex!important;
    overflow-y: hidden;
    overflow-x: scroll;
    padding: .75rem 0 100px;
}
.bg-footer {
    background-color: #000000;
    background-image: linear-gradient(147deg, #000000 0%, #252424 74%);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover!important;
}
.shadow-hvr:hover{
    top: -10px!important;
    box-shadow: 10px 10px 5px 0px rgba(201,201,201,1);
}
.shadow-hvr {
    position: relative;
    top: 0;
    transition: top ease 0.5s;
}


/******************** BLOG ******************************/

.mainSection {
    padding: 80px 0;
}
.pos-z-index {
    position: relative;
    z-index: 3;
}
.tabs {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 40px;
}
.tabs {
    width: 100%;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    overflow-x: auto;
    padding: 10px 10px 10px 10px;
}

.tabs.large a {
    padding: 10px 25px;
    background: #fff;
    -webkit-border-radius: 25px;
    border-radius: 25px;
    border: 1px solid rgba(102, 102, 102, 0.2);
    color: #333;
}

.tabs a {
    padding: 5px 12px;
    margin: 0 15px;
    white-space: nowrap;
}

.tabs a:first-child {
    margin-right: 0;
}

.tabs a:last-child {
    margin-left: 0;
}

.tabs a:hover,
.tabs a.active {
    background: #ae8525;
    color: #fff !important;
    -webkit-border-radius: 25px;
    border-radius: 25px;
}

.btnactive{
    background: #4F5362;
    color: #fff !important;
    -webkit-border-radius: 25px;
    border-radius: 25px;
}

figure {
    margin: 0 0 1rem;
}

img {
    vertical-align: middle;
    border-style: none;
}
.blog .carousel .item figure {
    overflow: hidden;
    position: relative;
    height: 130px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.blog .carousel .item figure img {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    max-width: 150%;
}

.blog .carousel .item .title {
    color: #060606;
    font-family: iranYekanWeb!important;
    font-size: 15px!important;
    font-weight: bold;
}

.blog .carousel .item .desc {
    margin-top: 25px;
    margin-bottom: 35px;
    font-family: iranYekanWeb!important;
    font-size: 13px!important;
    color: #4F5362;
    text-decoration: none!important;
}

.blog .carousel .item .date {
    text-align: left;
    text-transform: uppercase;
    color: #000000;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 2px;
    direction: ltr;
}
.action-bar-container {
    overflow: hidden;
    height: 3.3125rem;
}
.action-bar{
    display: flex!important;
    overflow-y: hidden;
    overflow-x: scroll;
    padding: .75rem 0 100px;
}
.cursor-pointer
{
    cursor: pointer!important;
}
/******************** BLOG ******************************/




.bg-bt-gold {
    background: #ae8525;
    background: -moz-linear-gradient(left, #ae8525 0%, #f7f08a 30%, #d2ad47 64%, #edc967 100%);
    background: -webkit-linear-gradient(left, #ae8525 0%, #f7f08a 30%, #d2ad47 64%, #edc967 100%);
    background: -o-linear-gradient(left, #ae8525 0%, #f7f08a 30%, #d2ad47 64%, #edc967 100%);
    background: -ms-linear-gradient(left, #ae8525 0%, #f7f08a 30%, #d2ad47 64%, #edc967 100%);
    background: linear-gradient(to right, #ae8525 0%, #f7f08a 30%, #d2ad47 64%, #edc967 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ae8525', endColorstr='#edc967', GradientType=1);
}

.border-gold {
    border-color: #d2ad47!important;
}

.border-radius-3{
    border-radius: 3px!important;
}

.border-t-r-18{

    border-top-right-radius: 18px;
    border-bottom-right-radius: 18px;
}

.margin-17{
    margin-top: 17px!important;
}
.contact-title {
    font-size: 27px;
    font-weight: 600;
    margin-bottom: 20px;
}
.form-contact .form-control {
    border: 1px solid #e5e6e9;
    border-radius: 5px;
    height: 48px;
    padding-left: 18px;
    font-size: 13px;
    background: transparent;
}

.form-contact textarea {
    border-radius: 0px;
    height: 100% !important;
}

.contact-info .media-body p {
    color: #8a8a8a;
}

.boxed-btn {
    background: #fff;
    display: inline-block;
    padding: 18px 44px;
    font-size: 14px;
    font-weight: 400;
    border: 1px solid #073461;
    border-radius: 5px;
    text-align: center;
    color: #073461;
    text-transform: uppercase;
    cursor: pointer;
}
.boxed-btn:hover{
    background-color: #073461!important;
    color: white;
}

.bg-value{
    background-image: url('../app/img/value.jpg')!important;
    background-size: cover;
}
/************* graph ***********************/

.post-stats__graph {
    height: 200px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: end;
    align-items: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    border-bottom: 1px solid #ededed;
    padding-bottom: 10px;
    padding-top: 3em;
    margin-bottom: 40px;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
}
@media (min-width: 992px)
{
    .post-stats__bar {
        opacity: .48;
    }
    .post-stats__bar:hover
    {
        opacity: 1;
    }
}

.post-stats__bar {
    background-color: #a62626;
    border: 1px solid #a62626;
    -ms-flex: 1 1;
    flex: 1 1;
    margin: 0 5px;
    transition: opacity .2s;
    text-align: center;
    position: relative;
}

.post-stats__visits {
    top: -17px;
}

.post-stats__title, .post-stats__visits {
    color: rgba(0,0,0,.87);
    font-size: 10px;
    font-weight: 700;
    position: absolute;
    width: 100%;
}

@media (min-width: 480px)
{
    .post-stats__title {
        bottom: -35px;
        -webkit-transform: none;
        transform: none;
    }
}

@media (max-width: 480px) {
    .post-stats__title {
        bottom: -45px;
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }
}

/************* graph ***********************/



/******************** About Section ******************************/
.services .icons {
    margin-top: 105px;
}

.services .icons .subtitle {
    margin-top: 27px;
}

.services .icons .desc {
    margin-top: 42px;
}

.services .about .hooper {
    -webkit-border-radius: 8px;
    border-radius: 8px;
    overflow: hidden;
}

.services .about .images .imageHolder {
    position: relative;
}

.services .about .images .imageHolder::before {
    content: '';
    position: absolute;
    width: 100%;
    height: -webkit-calc(100% - 100px);
    height: calc(100% - 100px);
    left: 0;
    top: 50px;
    z-index: 1;
    background: #fff;
    opacity: 0.5;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 0 20px 0 rgba(51, 51, 51, 0.3);
    box-shadow: 0 0 20px 0 rgba(51, 51, 51, 0.3);
}

.services .about .images .imageHolder::after {
    content: '';
    position: absolute;
    width: -webkit-calc(100% + 30px);
    width: calc(100% + 30px);
    height: -webkit-calc(100% - 140px);
    height: calc(100% - 140px);
    left: -15px;
    top: 70px;
    z-index: 0;
    background: #fff;
    opacity: 0.5;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 0 20px 0 rgba(51, 51, 51, 0.3);
    box-shadow: 0 0 20px 0 rgba(51, 51, 51, 0.3);
}

.services .about .images .imageHolder .image {
    display: block;
    margin: auto;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    width: -webkit-calc(100% - 30px);
    width: calc(100% - 30px);
    position: relative;
    z-index: 2;
    -webkit-box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.15);
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.15);
}

.services .about .control .navBtn {
    width: 36px;
    height: 36px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    border: 2px solid #ae8525;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    margin: 5px 0;
    cursor: pointer;
    outline: none!important;
}

.services .about .control .navBtn.up svg {
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

.services .about .control .navBtn.down svg {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.services .about .control .navBtn svg {
    width: 15px;
    height: 15px;
}

.services .about .contents .title {
    margin-bottom: 40px;
}

.services .about .contents p {
    line-height: 26px;
}

svg {
    overflow: hidden;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    fill: #666;
}

@media only screen and (max-width: 767px) {

    .services .about {
        text-align: center;
    }

    .services .about .images {
        -webkit-box-ordinal-group: 4;
        -webkit-order: 3;
        -ms-flex-order: 3;
        order: 3;
    }

    .services .about .control {
        -webkit-box-orient: horizontal !important;
        -webkit-box-direction: normal !important;
        -webkit-flex-direction: row !important;
        -ms-flex-direction: row !important;
        flex-direction: row !important;
        margin-bottom: 15px;
    }

    .services .about .control .navBtn {
        margin: 5px;
        -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        transform: rotate(90deg);
    }

    .hero.breedView .breed_featured_img {
        height: 270px;
    }

    .hero.breedView .thumbs .item {
        height: 150px;
    }
}

@media only screen and (max-width: 575px) {

    .services .icons {
        margin-top: 10px;
    }

    .services .icons img {
        margin-top: 20px;
    }

    .services .icons .subtitle {
        margin-top: 10px;
    }

    .services .icons .desc {
        margin-top: 10px;
        margin-bottom: 30px;
    }
}

/******************** About Section ******************************/

.mainSliderImage{
    width: 100%!important;
    height: 520px!important;
    filter: grayscale(40%);

}
@media only screen and (max-width: 575px) {
    .mainSliderImage{
        width: 100%!important;
        height: 250px!important;
    }
}
/******************** OWL DOTS ******************************/

.owl-dots{
    text-align: center;
    margin-top: -45px!important;
    z-index: 50;
    position: relative;
}

.owl-dot{
    background-color: transparent!important;

}
